.main {
  display: flex;
  margin-top: 30px;
}

.post-container {
  border: solid 1px;
  width: 75%;
  display: flex;
}

.profile-container {
  border: solid 1px;
  width: 25%;
  height: 750px;
}

.post {
  width: 30%;
  height: 200px;
  border: solid 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

#login-form {
  margin-top: 12px;
  margin-left: 900px;
}





/* Post-It CSS */

*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  /* margin:3em; */
  background:#fff;
  color:rgb(26, 23, 23);
}

h2,p{
  font-size:100%;
  font-weight:normal;
}

.post ul,li{
  list-style:none;
}

.post ul{
  overflow:hidden;
  padding:3em;
}

/* ul li{
  margin:1em;
  float:left;
} */

.post ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.post ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

/* ul li a{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
} */

ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}